name: CI

permissions: {}

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
  pull_request:

jobs:
  formatting_linting:
    name: Check for formatting or linting issues
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - name: Build
        run: nix-shell --pure --run 'treefmt --ci'
  build_warning_nix:
    name: Build with Nix
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - name: Build
        run: nix-shell --pure --run 'make SPHINXOPTS='-W' html'
