name: CI

permissions: {}

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
  pull_request:

jobs:
  formatting_linting:
    name: Check for formatting or linting issues
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - name: Build
        run: nix-shell --pure --run 'treefmt --ci'
  build_warning_nix:
    name: Build with Nix
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - name: Build
        run: nix-shell --pure --run 'make SPHINXOPTS='-W' html'
